body{
    display: grid;
    padding-left: 2em;
    padding-right: 2em;

}
.bodytag{
    font-family: 'Quicksand', sans-serif;
}

.carousel-inner{
     width: 800px;   
     height:400px;
}
 .navbar .navbar-nav li > a{
    color:#111;
}

form {
    float: right;

}
.navbar-text{
    color:#111;
}

#cover{
    height: 500px;
    background-image: url("../images/cover4.jpg");
    background-size: cover;
}
article{
    padding: 10em;

}

.btn a{
    color:#111;
}

