{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<section class="cover">
       <div class="col" id="cover">
               <article>
               <h1 style="font-size:75px;   color: #fff;"><strong>HouseHunt</strong></h1>
               <p  style="font-size:35px;   color: #fff;">House hunting made easy</p>
               </article>
</div>
</section>

<section class="kejahunt">
       
        <div class="row" style="float:center; margin-top:50px;">
                {% for house in house%}     
                        <div class="card" style="width: 15rem; margin-left:2em; margin-right:2em;" height="9rem">
                        <img class="card-img-top" src="{{house.Image.url}}" alt="Card image cap" style="size:cover;">
                        <div class="card-body">
                                
                                <p>location:{{house.Location}}</p>
                                <p>Type:{{house.Type}}</p>
                                <button type="button" class="btn btn-primary" href=><a href="/house_details/{{user.id}}">View</a> </button></a>
                        </div>
                        </div>
       
              {% endfor %}
 
     <br>
</section>

{% endblock %}