{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if houses%}
      <h2>Found {{ houses|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 houses for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if houses %}
    {% for house in houses %}
      <div class="col-sm-6 col-md-3">
            <!-- <section style=margin-left:350px;> -->
                    <p>location:{{house.Location}}</p>
                    <p>Details:{{house.Description }}</p>
                    <p>Type:{{house.Type}}</p>
                    <p>contact_email:{{house.contact_email}}</p>
                    <p>contact_number:{{house.contact_number}}</p>
                    <p>category:{{house.category}}</p>
            
            
            
        
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}